# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# The private key generated in step 1
OPENAI_API_KEY=
# The URL of your Supabase project
SUPABASE_URL=
# The anon key of your Supabase project
SUPABASE_ANON_KEY=